<div class="container-fluid p-0">
        <img class="img img-fluid position-absolute" src="../../assets/hoja.jpg" alt="">

        <div class="conteiner position-relative d-flex justify-content-center align-items-center parrafo">  
            <div class="position-fixed claro">
                <div class=" m-3 text-dark oscuro">
                    <div class="d-flex justify-content-center ">
                        <h2 class="m-3 mb-5 text-primary">LÍDERES DEL MERCADO</h2>
                    </div>
                    <p>Confia en nosotros, te ofrecemos precios competitivos y pagas solo por lo que contratas</p>
                    <p>Escoge el servicio a contratar</p>
                    <p>Quieres una pagina web? Paga en funcion de sus páginas e idiomas!!</p>
                    <p>Estudia el presupuesto en detalle antes de contratar, o guardalo para decidirte mas adelante</p>
                    <p>A que esperas?</p>
                    <div class="d-flex justify-content-center">
                        <a href="home"><button class="btn btn-primary m-3">Pruébalo ya!</button></a>
                    </div>
                
                </div>
            </div>
        </div>
    
</div>
