<div class="container d-flex justify-content-center p-4">
    <div class="w-50">

        <p class="mb-3">¿Qué quieres hacer?</p>

        <div class="form-check mb-5">
            <input class="form-check-input" type="checkbox" value=500 id="web" 
             [formControl]="webControl">
            <label class="form-check-label" for="web">
                Una página web (500€))
            </label>
        </div>
        <!-- <div *ngIf="webControl.value == true"> -->
            <app-panell *ngIf="webControl.value"></app-panell>
        
       

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value=300 id="seo" 
                 [formControl]="seoControl">
            <label class="form-check-label" for="seo">
                Una consultoria SEO (300€)
            </label>
        </div>
        
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value=200 id="campanya"
                 [formControl]="campanyaControl">
            <label class="form-check-label" for="campanya">
                Una campaña de Google Ads (200€)
            </label>
        </div>
        <div>Precio: <p class="d-inline-block mt-3">{{total}}€</p></div>
        
    </div>
</div>

